
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSuperuser() {
      return request.auth.token.email == 'carboo12@gmail.com';
    }

    // Superuser can fully manage businesses
    match /businesses/{businessId} {
      allow read, write: if isSuperuser();
    }
    
    match /businesses/{path=**} {
       allow read, write: if isSuperuser();
    }

    // Users collection rules
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId || isSuperuser();
      allow create: if isSuperuser(); // Only superuser can create new users initially
      allow list: if isSuperuser(); // Only superuser can list users
    }

    // Business-specific data rules
    match /businesses/{businessId}/raffles/{raffleId} {
      function isBusinessMember() {
        return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
               get(/databases/$(database)/documents/users/$(request.auth.uid)).data.businessId == businessId;
      }
      
      allow read, write: if isBusinessMember();
    }
  }
}
